

<div class="container">

    <nav>
        <button>Todos

        </button>

        <div class="buscador">
            <input type="text" name="buscador" placeholder="Cual producto quieres ver?">
            <fa-icon [icon]="searchIcon"></fa-icon>
            
        </div>

        <div></div>

        
    </nav>

    <main>
        <div class="producto" *ngFor="let producto of productos">

            <img  src="{{producto}}" alt="imagen">
        
    
            <div class="overview">
                <h1>Nombre del producto ejemplo ejemplo ejemplo</h1>
    
                <fa-icon [icon]="iconoDinero"></fa-icon>
                <p> 500 DOP</p>
    
                <fa-icon [icon]="iconoFuncion"></fa-icon>
                <p> Un producto para el pelo que sirve para tal o cual cosa</p>
    
            </div>
    
    
    
        </div>


    </main>
     
    

    <aside>

    </aside>

    

    
    
    
    
</div>

