

<div class="container">

    <nav>
        <button>Todos

        </button>

        <div class="buscador">
            <input type="text" name="buscador" placeholder="Cual producto quieres comprar?">
            <fa-icon [icon]="searchIcon"></fa-icon>
            
        </div>

        
    </nav>

    <main>
        <div class="producto producto{{i}}" *ngFor="let producto of productos; index as i" (click)="elegirProducto(i)">

            <img  src="{{producto.imagen}}" alt="imagen">
        
    
            <div class="overview">
                <h1>{{producto.nombre}}</h1>
    
                <fa-icon [icon]="iconoDinero"></fa-icon>
                <p> {{producto.precio}} DOP</p>
    
                <fa-icon [icon]="iconoFuncion"></fa-icon>
                <p> {{producto.overview}}</p>
    
            </div>
    
    
    
        </div>


    </main>
     
    

    <aside>

        <div class="detalles">
            <h1>Detalles del producto</h1>

            <p>Nombre: {{productoElegido.nombre}}</p>
            <p>Resumen: {{productoElegido.overview}}</p>
            <p>Descripción: {{productoElegido.descripcion}}</p>
            <p>Precio: {{productoElegido.precio}}</p>

        </div>


        <div class="comentarios">
            <h2>Comentarios</h2>
            
        </div>



    </aside>

    

    
    
    
    
</div>

