
.container{
    width: 90%;
    margin: 2rem 3.5rem;
    display: grid;
    grid-template: 1fr 9fr / 6fr 4fr;
    color: rgba(0, 0, 0, .8);
    position: relative;

    nav{
        grid-column-start: span 2;
        display: grid;
        grid-template: 1fr / 1fr 5fr;
        font-size: 1rem;
        margin: 0 auto;

        .buscador{
            display: flex;
            justify-content: center;
        }
        

        button{
            margin-left: .5rem;
            padding: .25rem 1rem;
            font-size: inherit;
            background-color: var(--yamelitas-verde-9);
            color: white;
            border-radius: .25rem;
            cursor: pointer;
            
        }

        input{
            width: 100%;
            padding: .25rem 1rem;
            font-size: inherit;
        }

        input:focus{
            background-color: var(--yamelitas-verde-4);
        }

        fa-icon{
            padding: .25rem;
            padding: .25rem 1rem;
            font-size: inherit;
            cursor: pointer;
            align-self: center;
        }
    }

    main{
        display: flex;
        margin-top: 1rem;
    }


    .producto{
        width: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid var(--yamelitas-morado-4);
        padding: 1rem;
        border-radius: .25rem;
        margin: 1vmin;
        transition: background-color .5s, color .5s;




        img{
            border-top: 5px groove gainsboro;
            border-bottom: 5px groove gainsboro;
            border-left: 5px groove grey;
            border-right: 7px groove grey;
            border-radius: 5px;
            width: 250px;
            box-shadow: 5px 5px 10px grey;
            transition: transform .5s;
          
            
        } 


    }


    .producto:hover{

        background-color: var(--yamelitas-morado-8);
        color: aliceblue;
        cursor: pointer;

        img{
            animation: contraer-agrandar .5s linear;
        }
    }

    @keyframes contraer-agrandar {
        0%{
            transform: rotate(0);
        }

        25%{
            transform: rotate(5deg);
        }

        50%{
            transform: rotate(-5deg);
        }

        100%{
            transform: rotate(0);
        }
    }
  
    .producto-elegido{
        background-color: var(--yamelitas-morado-8);
        color: aliceblue;
    }
    

    .overview{
        display: grid;
        grid-template: 3fr 1fr 1fr / 10% 90%;
        width: 250px; 
        text-align: initial; 



        h1{
            font-size: 1.4rem;
            margin: 1.8vmin;
            text-align: center;
            grid-column-start: span 2;
            text-shadow: 1px 1px 5px grey;
            border-bottom: 1px solid grey;
            padding: .5rem;
        }   

        p{
            font-size: 1rem;
        }

        
    }

    aside{
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        border: 1px solid var(--yamelitas-verde-8);
        border-radius: .25rem;

        h1{
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid var(--yamelitas-verde-8);
            color: var(--yamelitas-verde-8);
        }
    }




}





