

.rotar{
    transform: rotate(-180deg);
}



.container{
    width: 90%;
    margin: 2rem 5vw;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .8);
    position: relative;

    nav{
        grid-column-start: span 2;
        display: grid;
        grid-template: 1fr / 2fr 8fr;
        font-size: 1rem;
        margin: 0 auto 2rem auto;
        height: 5vmin;

        .buscador{
            display: flex;
            justify-content: center;
            position: relative;

            .sugerencias-buscador{
                width: 100%;
                max-height: 200px;
                overflow-y: scroll;
                position: absolute;
                top: 100%;
                z-index: 1000;
                background-color: white;

                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: transparent;
                }

                li{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 1rem;
                    background-color: white;
                    border: 1px solid grey;
                    border-radius: .25rem;
                }

                li:hover{
                    color: var(--yamelitas-morado-9);
                    cursor: pointer;
                    
                }
            }
            
        }
        

        .categorias-container{
            width: 100px;
            position: relative;
            z-index: 1000;
            text-align: center;
            font-size: 1.2rem;
            background-color: var(--yamelitas-verde-9);
            color: white;
            border-radius: .25rem;

            fa-icon{
                font-size: .8rem;
                margin: 0;
                padding: 5px;
                transition: transform .3s;
            }
            
            

            ul{
                width: 100%;
                display: flex;
                


                
            }

            li{
                display: flex;
                justify-content: center;
                width: 100%;
                border: 1px solid;
                border-radius: .25rem;
                padding: 1rem 1.2rem;
                cursor: pointer;
                
            }

            .categoria-elegida{
                position: relative;
                display: flex;
                justify-content: center;
                border: 1px solid black;
                
            }

            .categorias{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 100%;
                color: black;
                background-color: transparent;

                li{
                    width: 100%;
                    background-color: white;
                }

                li:hover{
                    background-color: var(--yamelitas-verde-9);
                    color: white;
                    backdrop-filter: blur(10px);
                }
            }
            
        }

        input{
            width: 100%;
            padding: .25rem 1rem;
            font-size: inherit;
        }

        input:focus{
            background-color: var(--yamelitas-verde-4);
        }

        fa-icon{
            padding: .25rem;
            padding: .25rem 1rem;
            font-size: inherit;
            cursor: pointer;
            align-self: center;
        }
    }

    main{

            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;
            margin: 1rem auto;
            border-top: 1px solid var(--yamelitas-morado-7);
            border-bottom: 1px solid var(--yamelitas-morado-7);

        .lista-productos{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            overflow: hidden;
            margin: 1rem auto;
            

        }
        

        .swipe-left, .swipe-right{
            position: absolute;
            height: 100%;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: .5rem;
            color: rgb(39, 39, 39);

            transition: background-color .5s;

            fa-icon{
                width: 50%;
                font-size: 3rem;
                background: var(--yamelitas-morado-7);
                border-radius: 50%;
                transition: background-color .5s, color .5s;
                
            }
    

        }

        .swipe-left:hover, .swipe-right:hover{
            background-color: var(--yamelitas-morado-7);
            color: white;
            cursor: pointer;
            
            fa-icon{
                background-color: transparent;
            }
        }

        
        .swipe-left{
            left: 0;
        }

        .swipe-right{
            right: 0;
        }
       
    }


    .producto{
        position: relative;
        left: 0;
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border: 1px solid var(--yamelitas-morado-4);
        padding: 1rem;
        border-radius: .25rem;
        margin: 1vmin;
        transition: background-color .5s, color .5s, left .75s, right .75s;




        img{
            border-top: 5px groove gainsboro;
            border-bottom: 5px groove gainsboro;
            border-left: 5px groove grey;
            border-right: 7px groove grey;
            border-radius: 5px;
            width: 250px;
            box-shadow: 5px 5px 10px grey;
            transition: transform .5s;
          
            
        } 


    }


    .producto:hover{

        background-color: var(--yamelitas-morado-8);
        color: aliceblue;
        cursor: pointer;

        img{
            animation: contraer-agrandar .5s linear;
        }
    }

    @keyframes contraer-agrandar {
        0%{
            transform: rotate(0);
        }

        25%{
            transform: rotate(5deg);
        }

        50%{
            transform: rotate(-5deg);
        }

        100%{
            transform: rotate(0);
        }
    }
  
    .producto-elegido{
        background-color: var(--yamelitas-morado-8);
        color: aliceblue;
    }
    

    .overview{
        display: grid;
        grid-template: 2fr 1fr 1fr 1fr/ 1fr 9fr;
        width: 250px; 
        text-align: initial; 



        h1{
            align-self: center;
            font-size: 1.4rem;
            margin: 1rem auto;
            text-align: center;
            grid-column-start: span 2;
            text-shadow: 1px 1px 5px grey;
            border-bottom: 1px solid grey;
            padding: .5rem;
        }   

        p{
            font-size: 1.1rem;
        }

        
    }

    aside{

        width: 90%;
        display: flex;
        flex-direction: column;
        margin: .4rem auto;
        border: 1px solid var(--yamelitas-verde-8);
        border-radius: .25rem;
        background-image: url('/assets/flowers-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2rem;

        .detalles{
            background-color: #fcf0fa;
            border: 1px solid #f2cee9;
            border-radius: .25rem;
        }
        

        h1{
            text-align: center;
            padding: 1rem;
            border-bottom: 1px solid var(--yamelitas-morado-4);
            border-radius: .25rem;
            color: black;
        }

        ul{
            display: flex;
            flex-direction: column;
            color: black;
            padding: 1rem;
        }

        li{
            padding: .7rem;
            font-size: 1.1rem;
        }

        .comentarios{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            background-color: #fcf0fa;
            border: 1px solid #f2cee9;
            border-radius: .25rem;
            

            .comentario{
                display: grid;
                grid-template: 1fr / 1fr 9fr;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                border-top: 1px solid var(--yamelitas-morado-4);
                

                img{
                    width: 50px;
                    margin: 0 auto;
                    padding: 0;
                    
                }

                p{
                    font-size: 1.1rem;
                    strong{
                        color: var(--yamelitas-morado-7);
                    }
                }
            }

            h2{
                padding: 1rem;
                text-align: center;
            }


        }
    }




}





