


<div class="container">

    <nav>
        <div id="categorias-container" class="categorias-container" (click)="desplegarCategorias()">
            <ul>
                <li id="categoria-elegida" class="categoria-elegida">{{categoriaElegida}}
                    <fa-icon [icon]="chevronDown"></fa-icon>
                    <ul id="categorias" class="categorias">
                        <li *ngFor="let categoria of categorias" (click)="filtrarCategoria(categoria)">{{categoria}}</li>
                        
                    </ul>
                </li>
                
            </ul>
        </div>
    
        <div class="buscador">
            <input id="buscador" type="text" name="buscador" placeholder="{{categoriaElegida + ': nombre del producto'}}" [(ngModel)] = "filtroTexto">
            <fa-icon [icon]="searchIcon"></fa-icon>

            <div id="sugerencias-buscador" class="sugerencias-buscador">
                <ul>
                    <li *ngFor="let sugerencia of sugerenciasBuscador" (click)="filtrarPorNombre(sugerencia)">{{sugerencia.nombre}}</li>
                </ul>
            </div>
            
        </div>
    
        
    </nav>

    <main>

        <app-loader *ngIf="loader"></app-loader>

        <div id="mensaje-no-hay-productos-container" class="mensaje-no-hay-productos-container" *ngIf="vacio && !loader && online">
            <p>Por ahora no hay productos disponibles con ese nombre o categoría.</p>
        </div>

        <div id="mensaje-problemas-conexion" class="mensaje-problemas-conexion" *ngIf="online === false">
            <h1>Error al cargar</h1>
            <p>Comprueba la conexión a Internet</p>
            <button (click)="recargarPagina()">Refrescar</button>
        </div>

        <div id="lista-productos" class="lista-productos">
            <div class="producto producto{{i}}" *ngFor="let producto of productos; index as i" (click)="elegirProducto(i)">

                <img  src="{{producto.imagen}}" alt="imagen">
            
        
                <div class="overview">
                    <h1>{{producto.nombre}}</h1>

                    <fa-icon [icon]="clipboardList"></fa-icon>
                    <p> {{producto.categoria}}</p>
        
                    <fa-icon [icon]="iconoDinero"></fa-icon>
                    <p> {{producto.precio}} DOP</p>
        
                    <fa-icon [icon]="iconoFuncion"></fa-icon>
                    <p> {{producto.overview}}</p>
        
                </div>
        
        
        
            </div>

        </div>
        
        

        <div class="swipe-left" id="swipe-left" (click)="swipeLeft()">
            <fa-icon [icon]="chevronLeft"></fa-icon>
        </div>

        <div class="swipe-right" id="swipe-right" (click)="swipeRight()">
            <fa-icon [icon]="chevronRight"></fa-icon>
        </div>


    </main>
     
    

    <aside>

        <div class="detalles">
            <h1>Detalles del producto</h1>

            <ul>
                <li>Nombre: {{productoElegido.nombre}}</li>
                <li>Categoría: {{productoElegido.categoria}}</li>
                <li>Resumen: {{productoElegido.overview}}</li>
                <li>Descripción: {{productoElegido.descripcion}}</li>
                <li>Precio: {{productoElegido.precio}}</li>
            </ul>


        </div>


        <div class="comentarios">
            <h2>Comentarios</h2>

            <div class="comentario">
                <img src="/assets/user.svg" alt="imagen del usuario que hizo el comentario">
            
                <p><strong>Shelly Cordero</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quaerat non iusto quia praesentium debitis inventore tenetur, ex possimus adipisci assumenda asperiores, sapiente minima corporis dignissimos! Quas quis molestias ipsum!
                    <small>8/2/2021</small></p>

               
                
            </div>
            
        </div>



    </aside>

    

    
    
    
    
</div>

