
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    position: relative;
  
    

    .imagen{
        
        border-top: 5px groove gainsboro;
        border-bottom: 5px groove gainsboro;
        border-left: 5px groove grey;
        border-right: 7px groove grey;
        border-radius: 5px;
        width: 250px;
        margin: 15px;
        box-shadow: 5px 5px 10px grey;
        transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

        img{
            width: 100%;

        }

        :hover{
            cursor: pointer;
        }
      
        
    } 
    

    .imagen:hover::before{

        content: 'Ver detalles';
        cursor: pointer;
        position: absolute;
        font-size: 1.2em;
        font-weight: 800;
        text-decoration: underline;
        color: white;
        padding: 1vmin;
        text-shadow: 10px 10px 10px grey, -10px -10px 10px grey;
        background-color: var(--yamelitas-morado-9);
        border-radius: 10px;
        
        
    }




}





