/* You can add global styles to this file, and also import other style files */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
	box-sizing: border-box;
	font-family: 'Acme', sans-serif;
	letter-spacing: 0.02em;
	word-spacing: 0.07em;
}

/******* Inicio de variables */

:root{
	--yamelitas-morado-10: rgba(107, 18, 107, 1);
	--yamelitas-morado-9: rgba(107, 18, 107, .9);
	--yamelitas-morado-8: rgba(107, 18, 107, .8);
	--yamelitas-morado-7: rgba(107, 18, 107, .7);
	--yamelitas-morado-6: rgba(107, 18, 107, .6);
	--yamelitas-morado-5: rgba(107, 18, 107, .5);
	--yamelitas-morado-4: rgba(107, 18, 107, .4);
	--yamelitas-morado-3: rgba(107, 18, 107, .3);
	--yamelitas-morado-2: rgba(107, 18, 107, .2);
	--yamelitas-morado-1: rgba(107, 18, 107, .1);

	--yamelitas-verde-10: rgba(110, 184, 0, 1);
	--yamelitas-verde-9: rgba(110, 184, 0, .9);
	--yamelitas-verde-8: rgba(110, 184, 0, .8);
	--yamelitas-verde-7: rgba(110, 184, 0, .7);
	--yamelitas-verde-6: rgba(110, 184, 0, .6);
	--yamelitas-verde-5: rgba(110, 184, 0, .5);
	--yamelitas-verde-4: rgba(110, 184, 0, .4);
	--yamelitas-verde-3: rgba(110, 184, 0, .3);
	--yamelitas-verde-2: rgba(110, 184, 0, .2);
	--yamelitas-verde-1: rgba(110, 184, 0, .1);
}


/*Fin de variables *******/


h1{
	font-size: 4.5vmin;
	font-weight: 400;
}

h2{
	font-size: 3vmin;
	font-weight: 300;
}

h3{
	font-size: 2vmin;
	font-weight: 300;
}

p, span{
	font-size: 2.5vmin;
}


