
<div id="acerca-de-yamelitas-container" class="acerca-de-yamelitas-container">
    <img src="assets/acerca-de-yamelitas/nosotros.svg" alt="acerca de yamelitas">
    <img src="assets/acerca-de-yamelitas/mision-vision.svg" alt="mision y vision de yamelitas">
    <img src="assets/acerca-de-yamelitas/valores.svg" alt="valores de yamelitas">
    <img src="assets/acerca-de-yamelitas/promesa.svg" alt="promesa de yamelitas">
    <img src="assets/acerca-de-yamelitas/productos.svg" alt="acerca de los productos de yamelitas">
</div>