
<header class="cabecera">

  <div class="user">
    <figure>
      <img class="imagen_de_perfil" src="assets/user.svg" alt="tu foto de perfil">
      <figcaption>Franshelly Cordero</figcaption>
    </figure>

      <nav>
        <a href=""><img src="assets/user_icon.png" alt="icono de usuario"> Ver perfil </a>
        <a href=""><img src="assets/carrito.png" alt="icono carrito de compras"> Carrito </a>
        <a href=""><img src="assets/ajustes.png" alt="icono de ajustes"> Ajustes </a>

      </nav>
      
    
    
    

  </div>

  <img class="logo_yamelitas" src="/assets/yamelitas_logo.jpeg" alt="logo de yamelitas">

  <div>
    <ul class="redes_sociales">
      <li><img src="assets/instagram_logo.png" alt=""></li>
      <li><img src="assets/whatsapp_logo.png" alt=""></li>
      <li><img src="assets/gmail_logo.png" alt=""></li>
     
    </ul>

  </div>
  
</header>



<div>
  <nav>
    <ul class="list-container">
      <li><a routerLink="/inicio" routerLinkActive="active-link">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active-link">Productos</a></li>
      <li><a routerLink="/acercade" routerLinkActive="active-link">Acerca de Yamelitas</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active-link" >Contacto</a></li>
      <li><a routerLink="/comunidad" routerLinkActive="active-link">Comunidad</a></li>
    </ul>
  </nav>
</div>


<router-outlet></router-outlet>