
<header class="cabecera">

  <div>
    <ul class="redes_sociales">
      <li><img src="assets/instagram_logo.png" alt=""></li>
      <li><img src="assets/whatsapp_logo.png" alt=""></li>
      <li><img src="assets/gmail_logo.png" alt=""></li>
     
    </ul>

  </div>

  

  <img class="logo_yamelitas" src="/assets/yamelitas-logo-blanco.svg" alt="logo de yamelitas">

  <div class="user">
    <figure>
      <img class="imagen_de_perfil" src="assets/user.svg" alt="tu foto de perfil">
      <figcaption>Franshelly Cordero</figcaption>
    </figure>

      <nav>
        <a href=""><img src="assets/user_icon.png" alt="icono de usuario"> Ver perfil </a>
        <a href=""><img src="assets/carrito.png" alt="icono carrito de compras"> Carrito </a>
        <a href=""><img src="assets/ajustes.png" alt="icono de ajustes"> Ajustes </a>

      </nav>
      
  </div>
  
</header>



<div>
  <nav>
    <ul class="list-container">

      <li>
        <a routerLink="/inicio" routerLinkActive="active-link">
        <img src="assets/iconos/home-outline.svg" alt="icono de casa, inicio">
        Inicio
        </a>
      </li>

      <li>
        <a routerLink="/productos" routerLinkActive="active-link">
          <img src="assets/iconos/pricetag-outline.svg" alt="icono de productos">
          Productos
        </a>
      </li>


      <li>
        <a routerLink="/acercade" routerLinkActive="active-link">
          <img src="assets/iconos/information-circle-outline.svg" alt="icono de informacion">
          Acerca de Yamelitas
        </a>
      </li>


      <li class="yamelisticamente">
        <a routerLink="/yamelisticamente" routerLinkActive="active-link" >
          <img class="yamelisticamente-icon" src="assets/iconos/yamelisticamente.svg" alt="icono de yamelisticamente">
          Yamelisticamente
        </a>
        <ul>
          <li><a routerLink="">Yametips</a></li>
          <li><a routerLink="">Bloopers</a></li>
          <li><a routerLink="">Inspiración</a></li>
          <li><a routerLink="">Hazlo tú misma</a></li>
          <div class="peine">
            <img src="assets/peine.svg" alt="imagen de peine">
          </div>
        </ul>
        
      </li>

      <li>
        <a routerLink="/comunidad" routerLinkActive="active-link">
          <img src="assets/iconos/help-circle-outline.svg" alt="icono de preguntas frecuentes">
          Preguntas frecuentes
        </a>
      </li>

    </ul>
  </nav>
</div>



<router-outlet></router-outlet>