


.cabecera{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30% 50% 20%;

    .user{

        width: 50%;
        height: 190px;
        margin-top: 50px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: linear-gradient(to bottom,rgba(155, 0, 155, .3), rgba(155, 0, 155, .1));
        text-align: center;

        .imagen_de_perfil{
            
            width: 30%;
            margin-top: 10px;
        }

        nav{
            margin-top: 5px;
            border-top: 1px solid rgb(236, 236, 236);
    
        }

        

        a{  
            text-decoration: none;
            color: black;
            display: block;
            padding: 2px;
            margin-top: 5px;
            border-radius: 10px;
            transition: background-color .5s, color .2s, border-radius 0s;
            
            
        }

        img{
            width: 15px;
            
            
        }



        a:hover{
            background-color: rgba(155, 0, 155, .8);
            color: white;

            img{
                background-color: white;
                border-radius: 10px;
            }
        }

        
    }

    .logo_yamelitas{
        width: 100%;

    }

    .redes_sociales{

        position: fixed;
        right: 0;

        margin-left: auto;
        margin-top: 50px;
        width: fit-content;
        // border-top: 2px solid rgba(0, 0, 0, .8);
        // border-left: 2px solid rgba(0, 0, 0, .8);
        // border-bottom: 2px solid rgba(0, 0, 0, .8);

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        background-image: linear-gradient(to bottom,rgba(155, 0, 155, .3), rgba(155, 0, 155, .1));


       

        img{
            width: 30px;
            margin: 10px 15px;
            cursor: pointer;
            
            
        }

        img:nth-child(2){
            width: 35px;
        }

    }

    
    
}



.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    li{
        
        flex: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid rgb(110, 184, 0);
        border-radius: 10px;
    }

    a{
        list-style: none;
        text-decoration: none;
        color: rgb(110, 184, 0);
        width: auto;
        font-size: 1.4em;
        font-weight: 400;
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        transition: background-color .5s, border-radius 0s, color .3s ;
        
        


    }

    .active-link{
        background-color: rgb(110, 184, 0);
        color: white;
        border-radius: 10px;
    }

    
    

    a:hover{
        background-color: rgb(110, 184, 0);
        border-radius: 10px;
        color: white;
        

  

    }

    a:active{
        color: rgb(53, 53, 53);
       
    }

    

}

footer{
    display: grid;
    grid-template: 8fr 2fr / repeat(3, 15%);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;


    width: 100vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    background-image: radial-gradient(rgba(110, 184, 0, .4), rgba(155, 0, 155, .3) );


    a{
        display: block;
        padding: .3em;
        color: rgba(155, 0, 155, 1);
        text-decoration: none;
    }
    
}



