


.cabecera{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 20% 60% 20%;


    .user{

        width: 50%;
        height: 67%;
        margin-top: 50px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background-image: linear-gradient(to bottom,rgba(140, 63, 113, .7), rgba(140, 63, 113, .1));
        text-align: center;
        justify-self: end;

        .imagen_de_perfil{
            
            width: 30%;
            margin-top: 10px;
        }

        nav{
            margin-top: 5px;
            border-top: 1px solid rgb(236, 236, 236);
    
        }

        

        a{  
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 2px;
            margin-top: 5px;
            border-radius: 10px;
            transition: background-color .5s, color .2s, border-radius 0s;
            padding: .2em;
            margin: .7em 0;
            
            
            
        }

        img{
            width: 1em;
            margin: 0 .4em;

        }



        a:hover{
            background-color: rgba(140, 63, 113, 1);
            color: white;

            img{
                background-color: white;
                border-radius: 10px;
            }
        }

        
    }

    .logo_yamelitas{
        justify-self: center;
        width: 70%;    
        

    }

    .redes_sociales{

        position: fixed;
        left: 0;
        top: 3vh;

        margin-left: auto;
        margin-top: 50px;
        width: fit-content;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        background-image: linear-gradient(to bottom,rgba(140, 63, 113, .5), rgba(140, 63, 113, .1));


       

        img{
            width: 30px;
            margin: 10px 15px;
            cursor: pointer;
            
            
        }

        img:nth-child(2){
            width: 35px;
        }

    }

    
    
}



.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    
    
    li{
        
        flex: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid  rgba(110, 184, 0, .8);
        border-radius: 10px;
    }

    a{
        list-style: none;
        text-decoration: none;
        color:  rgba(110, 184, 0, .8);
        width: auto;
        font-size: 1.4em;
        font-weight: 400;
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        transition: background-color .5s, border-radius 0s, color .3s ;

        img{
            width: 7%;
            margin: 10px;
      
            

        }

        

        

        
        


    }

    .active-link{
        background-color:  rgba(110, 184, 0, .8);
        color: white;
        border-radius: 10px;

        img{
            background-color: white;
            border: 1px solid;
            border-radius: 50%;
        }

        
    }

    
    

    a:hover{
        background-color:  rgba(110, 184, 0, .8);
        border-radius: 10px;
        color: white;

        img{
            background-color: white;
            border: 1px solid;
            border-radius: 50%;
        }
        

  

    }

    a:active{
        color: rgb(53, 53, 53);
       
    }

    .yamelisticamente{


       position: relative;

        
       a{
        width: 100%;


        }
       
        

       ul{  
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 100%;
            
            
            
           li{
               
               width: 100%;



      
           }

       }

       &:hover ul{
        
        li {
            a{
                transform: scaleX(1);
                animation: agrandar 1s;


               
            }
        }

        .peine{
            animation: peinar 1s;

        }
        

       }

       .peine{
           position: absolute;
           width: 100%;
           height: 50%;
           margin: 0;
           top: 100%;
           opacity: 0;
           
          
           
           
           
           


           img{
    
               width: 50%;
               height: 100px;
               transform: scaleX(1.8);
               margin: 0;
               
               
               
               
           }
       }


    }

    .yamelisticamente-icon{
        left: 0;
        position: relative;
        transform: scale(1);
        transition: transform 1s, left 1s;
    }


    .yamelisticamente:hover{
        .yamelisticamente-icon{
            transform: scale(3);
            left: -10%;
            
        }

    }

    @keyframes peinar {

        from{
            top: -30%;
            opacity: 1;
        }

        to{
            top: 100%;
            opacity: 0;
            
        }
        
    }

    @keyframes agrandar {

        from{
            transform: scaleX(.5);
        }

        to{
            transform: scaleX(1);
        }
        
    }

  



   
   

    

}

