
.barra-navegacion{
    display: grid;
    grid-template: 1fr / 2fr 6fr 2fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2000;
    backdrop-filter: black;
    background-color: white;
    background-image: linear-gradient(to top, var(--yamelitas-morado-7), var(--yamelitas-morado-5));
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;


    .redes-sociales{

        display: flex;


       

        img{
            width: 30px;
            margin: 10px 15px;
            cursor: pointer;  
            
        }

        img:nth-child(2){
            width: 35px;
        }

    }

    .test{
        justify-self: start;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, .8);

        p{
            font-size: 1.2rem;
            color: aliceblue;
        }

        .buscador{
            width: 70%;
            margin-left: 1.5rem;
            display: flex;
            justify-content: center;
            position: relative;
            border-radius: .25rem;

            .sugerencias-buscador{
                width: 100%;
                max-height: 200px;
                overflow-y: scroll;
                position: absolute;
                top: 100%;
                z-index: 1000;
                background-color: white;

                ul{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: transparent;
                }

                li{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 1rem;
                    background-color: white;
                    border: 1px solid grey;
                    border-radius: .25rem;
                }

                li:hover{
                    color: var(--yamelitas-morado-9);
                    cursor: pointer;
                    
                }
            }

            input{
                width: 100%;
                padding: .25rem 1rem;
                font-size: inherit;
                border-radius: .25rem;
            }

    
    
            fa-icon{
                padding: .25rem;
                padding: .25rem 1rem;
                font-size: inherit;
                cursor: pointer;
                align-self: center;
                color: white;
            }
            
        }
    }

    .user{
        display: flex;
        justify-content: center;
        text-align: center;
      

        .imagen_de_perfil{
            margin: 0 1rem;
            width: 35px;
            border-radius: 50%;
        }

        .imagen_de_perfil:hover{
            cursor: pointer;
        }

        nav{
            display: flex;
            justify-content: center;
            align-items: center;

    
        }

        

        a{  
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .5s, color .2s, border-radius 0s;
            padding: .2em;
            border-radius: 50%;

            fa-icon{
                color: white;
                width: 20px;
                margin: 0 1rem;
            }

            
            
            
        }



        a:hover{
            color: white;
            background-color: white;

            fa-icon{
                color: var(--yamelitas-morado-7);
            }
            

        }

        
    }

    

}



.cabecera{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 20% 60% 20%;
    position: relative;
    margin-top: 3.5rem;



    

    .logo_yamelitas{
        justify-self: center;
        width: 80vmin;    
        

    }

    

    
    
}



.list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1000;
    

    
    
    li{
        
        flex: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid  var(--yamelitas-verde-8);
        border-radius: 10px;
    }

    a{
        list-style: none;
        text-decoration: none;
        color:  var(--yamelitas-verde-8);
        width: auto;
        font-size: 2.5vmin;
        font-weight: 400;
        flex: 1;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        

        transition: background-color .5s, border-radius 0s, color .3s ;

        img{
            width: 3vmin;
            margin-right: 1vw;
            
            

        }

        

        

        
        


    }

    .active-link{
        background-color:  var(--yamelitas-verde-8);
        color: white;
        border-radius: 10px;

        img{
            background-color: white;
            border: 1px solid;
            border-radius: 50%;
        }

        
    }

    
    

    a:hover{
        background-color: var(--yamelitas-verde-8);
        border-radius: 10px;
        color: white;

        img{
            background-color: white;
            border: 1px solid;
            border-radius: 50%;
        }
        

  

    }

    a:active{
        color: rgb(53, 53, 53);
       
    }

    .yamelisticamente{


       
       position: relative;

        
       a{
        width: 100%;


        }
       
        

       ul{  
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: 100%;
            
            
            
           li{
               background-color: white;
               width: 100%;



      
           }

       }

       &:hover ul{
        
            li {
                a{
                    transform: scaleX(1);
                    animation: agrandar 1s;


                
                }
            }

            .peine{
                animation: peinar 1s;

            }
        

       }

       &:hover .yamelisticamente-icon{
            background-color: white;
            border: 1px solid white;
            border-radius: 50%;

       }

       li:hover .yametips-icon{
            background-color: white;
            border: 1px solid white;
            border-radius: 50%;

       }

       .peine{
           position: absolute;
           left: 20%;
           width: 100%;
           height: 50%;
           margin: 0;
           top: 100%;
           opacity: 0;
           pointer-events: none;
           
          
           
           
           
           


           img{
    
               width: 50%;
               height: 100px;
               transform: scaleX(1.8);
               margin: 0 auto;
               
               
               
               
           }
       }






    }

    .yamelisticamente img{
        left: 10%;
        position: absolute;
        transform: scale(1);
        transition: transform 1s, left 1s;
    }


    .yamelisticamente a:hover{
        img{
            transform: scale(3);
            left: -5%;
            
        }

    }

    @keyframes peinar {

        from{
            top: -30%;
            opacity: 1;
        }

        to{
            top: 100%;
            opacity: 0;
            
        }
        
    }

    @keyframes agrandar {

        from{
            transform: scaleX(.5);
        }

        to{
            transform: scaleX(1);
        }
        
    }

  



   
   

    

}

@media screen and (max-width: 1000px){
    .list-container{
        .yamelisticamente img{
            left: 4%;
            position: absolute;
            transform: scale(1);
            transition: transform 1s, left 1s;
        }
    }
}
