
<div class="container">
    
    <aside class="barra_lateral" id="barra_lateral">
        <header>
            <h1>Categorías</h1>
        </header>

        <nav>
            <ul>

                <li (click)="cargarPublicaciones('todas')">
                    <img src="assets/iconos/leaf-outline.svg" alt="imagen de hojita inclinada a la izquierda">
                    <img src="assets/iconos/leaf-outline-shadow.svg" alt="sombra de la hojita" class="sombra">
                    Todas
                </li>

                <li (click)="cargarPublicaciones('salud')">
                    <img src="assets/iconos/leaf-outline.svg" alt="imagen de hojita inclinada a la izquierda">
                    <img src="assets/iconos/leaf-outline-shadow.svg" alt="sombra de la hojita" class="sombra">
                    Salud
                </li>

                <li (click)="cargarPublicaciones('cuidadodelcabello')">
                    <img src="assets/iconos/leaf-outline.svg" alt="imagen de hojita inclinada a la izquierda">
                    <img src="assets/iconos/leaf-outline-shadow.svg" alt="sombra de la hojita" class="sombra">
                    Cuidado del <br> cabello
                </li>

                <li (click)="cargarPublicaciones('cuidadodelapiel')">
                    <img src="assets/iconos/leaf-outline.svg" alt="imagen de hojita inclinada a la izquierda">
                    <img src="assets/iconos/leaf-outline-shadow.svg" alt="sombra de la hojita" class="sombra">
                    Cuidado de <br> la piel
                </li>

                <li (click)="cargarPublicaciones('tipsdetemporada')">
                    <img src="assets/iconos/leaf-outline.svg" alt="imagen de hojita inclinada a la izquierda">
                    <img src="assets/iconos/leaf-outline-shadow.svg" alt="sombra de la hojita" class="sombra">
                    Tips de <br> temporada
                </li>

            </ul>
        </nav>

    </aside>

    <main>

        <app-loader *ngIf="loader"></app-loader>

        <div id="mensaje-problemas-conexion" class="mensaje-problemas-conexion" *ngIf="publicaciones.length === 0 && loader === false">
            <h1>Error al cargar</h1>
            <p>Comprueba la conexión a Internet</p>
            <button (click)="recargarPagina()">Refrescar</button>
        </div>



        <article *ngFor="let publicacion of publicaciones">

            <header>
                <h1>{{publicacion.titulo}}</h1>
                <img class="imagen-articulo" src="{{publicacion.imagen_portada}}" alt="{{publicacion.img_description}}">
                <div class="info-articulo">

                    <p class="tiempo-lectura">
                        <img src="assets/iconos/clock-icon.svg" alt="icono de reloj">
                        Lectura de {{publicacion.tiempo_lectura}} min.
                    </p>

                    <p class="fecha">
                        <img src="assets/iconos/calendar.svg" alt="icono de reloj">
                        {{publicacion.fecha}}
                    </p>
                    
                    <p class="hashtags">
                        <span *ngFor="let hashtag of publicacion.hashtags">#{{hashtag}}</span>
                    </p>
                    
                </div>
            </header>
            

            <section class="contenido">
                <h2>{{publicacion.contexto}}</h2>
                <p>{{publicacion.contexto_desarrollo}}</p>
                
            </section>

            <section class="contenido">
                <h2 class="linea_yamelitas"><a href="">{{publicacion.productos_titulo}} <img src="assets/external_link_icon.svg" alt=""> </a></h2>
                <p>{{publicacion.productos_desarrollo}}</p>
                <ul>
                    <li *ngFor="let producto of publicacion.productos_productos"><img src="assets/flor.svg" alt="una flor"> {{producto}}</li>
                </ul>
                
            </section>

            <footer (click)="contenidoToggle()">
                {{footerMessage}}
                <img src="{{slide}}" alt="icono de deslizamiento">
            </footer>
        </article>



    </main>

    <div class="post-destacados">
        <header>
            <h1>Post destacados</h1>
        </header>
    </div>


</div>
